$black: #0b090a;
$grey: #161a1d;
$lightGrey: #b1a7a6;
$white: #f5f3f4;
$darkerGreen: #081c15;
$darkGreen: #1b4332;
$medGreen: #52b788;
$lightGreen: #95d5b2;
$lighterGreen: #d8f3dc;

$mq-screen: "screen";
$mq-small: "screen and (min-width: 768px)";
$mq-medium: "screen and (min-width: 1024px)";
$mq-large: "screen and (min-width: 1280px)";
$mq-largest: "screen and (min-width: 1760px)";
